// .main {
//   // d-flex col-12 mt-3 container-fluid
// //   display: flex;
// //   height: 530px;
// //   width: 100%;
// //   margin-top: 20px;
// //   border: 1px solid black;
// }

.firstCell {
  //   //   width: 50%;
  //   //   background-color: rgb(53, 8, 175);
  //   //   border: 1px solid black;
  //   //   display: flex;
  //   //   align-items: center;

  .firstCellText {
    //     //     width: 70%;
    //     //     border: 1px solid black;
    //     //     background-color: white;
    // //     color: rgba(41, 40, 40, 0.829);
    .p {
      font-weight: 700;
      color: #6666ff;
    }
    h1 {
      font-size: 3.5rem;
      font-weight: 700;
    }
    p {
      color: rgb(0 0 0 / 53%);
    }

    .button {
      background: #6666ff;
      color: #fff;
      border-color: #6666ff;
      font-weight: 600;
    }

    a {
      text-decoration: none;
      color: inherit;
    }
  }
}
